# Dependencies
node_modules/
package-lock.json
yarn.lock

# Build files
dist/
build/

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS files
.DS_Store
Thumbs.db

# Logs
*.log
npm-debug.log*

# Environment variables
.env
.env.local

# Local Netlify folder
.netlify

# Local scripts
*.bat
*.ps1
*.cmd

# Documentation setup
GITHUB_PAGES_SETUP.md
vercel.json
